<div class='container'>
  <div class="row">

<%=form_tag "/questions/#{@question.id}", method: :patch do %>

    <label >What question would you like to ask?</label>
    <div class="input-group input-group-lg">
     <input value="<%=@question.content%>"name='content' type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-lg">
   </div>
   <br>
   <button type="submit" class="btn btn-success">Edit New Question</button>
<%end%>

<%=form_tag "/questions/#{@question.id}", method: :delete do %>
<button type="submit" class="btn">Delete Question</button>

<%end%>
</div>

</div>
