<div class='container'>
  <div class="row">

<%=form_tag '/questions', method: :post do %>

    <label >What question would you like to ask?</label>
    <div class="input-group input-group-lg">
     <input name='content' type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-lg">
   </div>
   <br>
   <button type="submit" class="btn btn-success">Create New Question</button>
<%end%>

</div>

</div>
