<div class="container">
<br>
    <div id="login-wraper">
      <%= form_tag "/login", method: :post do %>
        <form class="form login-form">
            <legend>Sign in to <span class="blue">Fast Pitch!</span></legend>

            <div class="body">
              <label for="username">Username</label>
              <input type="text" class="form-control" name="username">

              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <br>

            <div class="footer">

                <button type="submit" class="btn btn-success">Login</button>
            </div>
        </form>
      <% end %>
    </div>
</div>
