<div class="jumbo">
  <div class="container">
    <h1 class="block-title"><%= @comment.presenter.name %></h1></h2>
  </div>
</div>
<div class="container">
  <h2>Please leave a comment about the presenter:</h2>
</div>
  <div class="container">
    <%=form_tag "/comments/#{@comment.id}", method: :patch do %>
      <div class="form-group">
        <label for="comments">Comments</label>
        <textarea class="form-control" id="comments" name="content" rows="3"><%=@comment.content%></textarea>
      </div>
      <button type="submit" class="btn btn-info">Submit</button>
    <%end%>
</div>
