<div class="jumbotron">
  <div class="container">
    <h1 class="block-title">Leaderboard</h1>
  </div>
</div>
<div class="container">
<table class="table">
  <thead>
    <tr>
      <th>Presenter Name</th>
      <th>Points</th>
    </tr>
  </thead>

  <tbody>
    <% @hash.sort {|a1,a2| a2[1].to_i<=>a1[1].to_i}.each do |key,value | %>
      <tr>
        <td><%= key%></td>
        <td><%= value%></td>
      </tr>
    <% end %>

  </tbody>
</table>
</div>
<br>
