<div class="jumbotron">
  <div class="container">
    <h1 class="block-title">Final Scores and Rankings</h1>
  </div>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Presenter Name</th>
        <th>Points Given</th>
        <th>Your Rank</th>
      </tr>
    </thead>

    <tbody>
      <% @presenters.each do |presenter| %>
        <tr>
          <td><%= presenter.name %> </td>
          <td> Points </td>
          <td>Rank </td>
        </tr>
      <% end %>

    </tbody>
  </table>
</div>
