<div class="jumbotron">
  <div class="container">
    <h1 class="block-title">Final Scores and Rankings</h1>
  </div>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Presenter Name</th>
        <th>Points Given</th>
        <th>Your Rank</th>
      </tr>
    </thead>

    <tbody>
      <% @presenters.each do |presenter| %>
        <tr>
          <td><%= presenter.name %> </td>
          <td><%=presenter.scores.where(["presenter_id=? and user_id=?", presenter.id, @current_user.id]).sum('points')%></td>
          <%if presenter.finalRanks.find_by(["presenter_id=? and user_id=?", presenter.id, @current_user.id]) == nil  %>
            <td>0</td>
            <td><button class="final_rank_button">button</button></td>
            <%else%>
            <td><%=presenter.finalRanks.find_by(["presenter_id=? and user_id=?", presenter.id, @current_user.id]).final_rank %></td>
            <td><button class="final_rank_button">button</button></td>
            <%end%>
        </tr>
      <% end %>

    </tbody>
  </table>
</div>
