<div class="container padding-top">
  <h1>Signup!</h1>
  <%= form_tag '/users', method: :post do  %>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control"  name="name">
  </div>
   <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password">
  </div>
   <div class="form-group">
    <label for="password_confirmation">Confirm Password</label>
    <input type="password" class="form-control" name="password_confirmation">
  </div>
  <input type="submit" value="Submit">
  <% end %>
</div>
