html {
  height: 100%;
}

body {
  background-image: image-url('fastpitch1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (min-width: 979px) {
  body {
    padding-bottom: 30px;
  }
}

.card {
  margin: 0 0 30px 30px;
  text-align: center;
}

.padding-top {
  padding-top: 15px;
}

.padding-bottom {
  padding-bottom: 15px;
}

.jumbotron {
    background:url(./bg_slide.png) repeat 0 0 #ebebea;
    margin:0;
    line-height: 20px;
    font-size: 13px;
}

.jumbotron .block-title {
    margin-bottom: 15px;
}

h1 {
  color: #303030;
  font-variant: small-caps;
  font-family: 'Pangolin';
  text-shadow: 2px 2px 2px #000;
  font-style: bold;
  font-size: 6em;
  letter-spacing: 3px;
}

h2 {
  color: #303030;
  font-family: 'Roboto';
  text-shadow: 1px 1px 1px #000;
  font-style: bold;
  font-size: 2.5em;
}


h3 {
  color: #303030;
  font-family: 'Josefin Sans';
  font-variant: small-caps;
  font-size: 1.7em;
}

h4 {
  color: #303030;
  font-family: 'Roboto';
  font-size: 1.3em;
}

h5 {
  color: #303030;
  font-family: 'Roboto';
  font-size: 1.2em;
}
