html {
  height: 100%;
}

body {
  background-image: image-url('fastpitch1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (min-width: 979px) {
  body {
    padding-bottom: 30px;
  }
}

.card {
  margin: 0 0 30px 30px;
  text-align: center;
}

.padding-top {
  padding-top: 15px;
}

.padding-bottom {
  padding-bottom: 15px;
}

.container {
  padding-right: 20px !important;
  padding-left: 20px !important;
  margin-right: auto;
  margin-left: auto;
}

.jumbo {
    background:url(./bg_slide.png) repeat 0 0 #ebebea;
    margin: -15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.jumbo .block-title {
    margin-bottom: 15px;
    font-variant: small-caps;
    font-family: 'Shadows Into Light' !important;
    text-shadow: 2px 2px 2px #000 !important;
}

.navbar {
  background-color: black !important;
  margin: -15px !important;
}

.nav li a {
    color: white !important;
    font-variant: small-caps;
    font-family: 'Pangolin' !important;
    font-size: 1.2em !important;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
  background-color: black !important;
  color: white !important;
}

h1 {
  color: #303030;
  font-variant: small-caps;
  font-family: 'Josefin Sans' !important;
  text-shadow: 1px 1px 1px #000;
  font-style: bold;
  font-size: 6em;
  letter-spacing: 3px;
}

h2 {
  color: #303030;
  font-family: 'Roboto' !important;
  font-style: bold;
  font-size: 2.5em;
}

h3 {
  color: #303030;
  font-family: 'Josefin Sans';
  font-variant: small-caps;
  font-size: 1.7em;
}

h4 {
  color: #303030;
  font-family: 'Josefin Sans';
  font-size: 1.3em;
}

h5 {
  color: #303030;
  font-family: 'Roboto';
  font-size: 1.2em;
}

select {
   overflow:hidden;
   width: 200px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px red;
}

select > option {
   background: pink !important; /* Or an hexadecimal value */
}

.list-group-item > .badge {
  float: right !important;
}
.list-group-item > .badge + .badge {
  margin-right: 5px;
}

.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: rgba(225, 255, 255, 0.4) !important;
  border: 1.5px solid black !important;
  font-family: 'Josefin Sans' !important;
  font-variant: small-caps !important;
  font-size: 1.7em !important;
}

.list-group-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.list-group-item-text {
  margin-bottom: 0;
  line-height: 1.3;
  color: #303030 !important;
  font-family: 'Josefin Sans' !important;
  font-variant: small-caps !important;
  font-size: 1.7em !important;

}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 15px !important;
  font-weight: bold;
  line-height: 2 !important;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.btn-xs .badge,
.btn-group-xs > .btn .badge {
  top: 0;
  padding: 1px 5px;
}

a.badge:hover,
a.badge:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #337ab7;
  background-color: #fff;
}

.list-group-item > .badge {
  float: right;
}

.list-group-item > .badge + .badge {
  margin-right: 5px;
}
