<div class="form-group">
  <label for="name">Name</label>
  <input type="text" class="form-control" name="name" value="<% @presenter.name %>" >
</div>
<div class="form-group">
  <label for="photo">Photo</label>
  <input type="text" class="form-control" name="photo" value="<% @presenter.photo %>">
</div>
<div class="form-group">
  <label for="issue">Comment</label>
  <input type="text" class="form-control" name="comment" value="<%= @presenter.comment %>">
</div>
<div class="form-group">
  <label for="description">Points</label>
  <input type="text" class="form-control" name="points" value="<% @presenter.points %>">
</div>
