<%= form_tag url, method: verb do %>
  <div class="form-group">
    <div>
      <%= label_tag :name %>
      <input type="text" name="name" value="<%= @presenter.name %>">
    </div>
    <br>
    <%= submit_tag message %>
<% end %>
