<div class="page-header">
  <h1>PRESENTERS</h1>
</div>
<div class="container padding-top">
  <div class="btn-group">
    <button class="btn-md" a href="/presenters?sort_by=name">Sort Presenters</a></button>
  </div>
  <br>
  <br>
  <div class="card">
    <% @presenters.each_slice(3) do |three_presenters| %>
    <div id="row">
      <% three_presenters.each do |presenter| %>
        <div class="col-md-3">
          <div class="card-block">
            <div class="well well-sm">
<<<<<<< HEAD
              <a href="/scores/new/<%= presenter.id %>">
=======
              <a href="/scores/new">
>>>>>>> dcad14fca6c77315c4c5f7efbff9af72e9ed8f89
              <%= presenter.photo %>
              <%= presenter.name %>
              <br>
              <%= link_to "Rank Presenter", "/scores/new", class: "btn btn-success" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
