<div class="jumbotron">
  <div class="container">
    <h1 class="block-title">Presenters</h2>
  </div>
</div>
<div class="container padding-top">
<br>
<br>
  <ul class="list-group">
      <% @presenters.each do |presenter| %>
        <li class="list-group-item"><h3><%= presenter.name %> </h3>
          <% presenter.ranks.each do |rank|%>
            <%if @current_user.id == rank.user_id %>
              <%= link_to "Edit Ranking", "/scores/#{presenter.id}/edit", class: "btn btn-success" %>
              </li>
            <%else%>
              <%= link_to "Rank Presenter", "/scores/new/#{presenter.id}", class: "btn btn-success" %>
            </li>
            <%end%>
        <%end%>
      <% end %>
  </ul>
</div>
