<div class="jumbo">
  <div class="container">
    <h1 class="block-title"><%= @presenter.name %></h1>
  </div>
</div>
<div class="container">
<br>
<% if @current_user.admin %>
  <%= link_to "Edit Presenter", "/presenters/#{@presenter.id}/edit", class: "btn btn-success" %>
  <%= link_to "Delete Presenter", "/presenters/#{@presenter.id}", {method: :delete, class: "btn btn-danger" }%>
<% end %>
</div>
