<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/"><i class="fa fa-home fa-2x" aria-hidden="true"></i> Home</span></a></li>
        <% if @current_user %>
          <ul class="nav navbar-nav navbar-left">
            <li><a href="/presenters"><i class="fas fa-bullhorn" aria-hidden="true"></i> Presenters</a></li>
            <li><a href="/final_ranks"></i> Final Scores and Rankings</a></li>
            <li><a href="/logout"><i class="fa-sign-out fa-2x" aria-hidden="true"></i> Logout</a></li>
          </ul>
          <% if @current_user.admin %>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/pages/index">CSV</a></li>
              <li><a href="/questions">Questions</a></li>
              <li><a href="/scores"></i> Leaderboard</a></li>
            </ul>
          <% end %>
        <% else %>
          <li><a href="/signup"><i class="fa fa-user-plus fa-2x" aria-hidden="true"></i></i> Sign Up</a></li>
          <li><a href="/login"><i class="fa fa-sign-in fa-2x" aria-hidden="true"></i> Sign In</a></li>
        <% end %>
      </ul>

    </div>
  </div>
</nav>
